@font-face {
  font-family: 'fixedsys';
  src: local('Fixedsys Excelsior 3.01'), local('FixedsysExcelsiorIIIb'),
      url('../fonts/FixedsysExcelsiorIIIb.woff2') format('woff2'),
      url('../fonts/FixedsysExcelsiorIIIb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
  MEEEE
\*------------------------------------*/
html {
  margin: auto;
  background: #fff;
  color: #454545;
  font: inherit;
}

body {
  margin: 1rem;
}

a {
  text-decoration: none;
  color:#454545;
}