<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Does IKEA have new plants today?</title>
</head>
<body>
    <main>
            <h1 id="update">
                    {% if update %}
                        Yes, IKEA has new plants today.
                    {% else %}
                        No, IKEA does not have new plants today.
                    {% endif %}
            </h1>
            <section id="recents">
                <h2>
                    Recently added
                </h2>
                <ul>
                    {% for plant in plants %}
                        <li>
                            <a href={{ plant.1 }}>{{ plant.0 }}</a>
            
                        </li>
                    {% endfor %}
                </ul>
            </section>
    </main>

    
    <footer><span>made with <span class="red">❤</span> by <a class="red" href="https://hayk.io">Հայկ</a></span></footer>
</body>
</html>