@font-face {
  font-family: 'fixedsys';
  src: local('Fixedsys Excelsior 3.01'), local('FixedsysExcelsiorIIIb'),
      url('../fonts/FixedsysExcelsiorIIIb.woff2') format('woff2'),
      url('../fonts/FixedsysExcelsiorIIIb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  margin: auto;
  width: max-content;
  background: #fff;
  color: #454545;
}

body {
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color:#454545;
}

main {
  margin-top: 30vh;
}

h1 {
  line-height: 1.125;
  &#update {
      font-size: 2rem;
      font-weight: bold;
      max-width: 20rem;
  }
}

section {
  &#recents {
    margin-top: 2rem;
    font-size: 1rem;

    h2 {
      font-weight: bold;
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }
  }
}

footer {
  font-family: fixedsys;
  padding: 0.5rem;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: max-content;

  .red {
    color:crimson;
  }
}